.wrapper {
    width: 60%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 800px) {
    .wrapper {
        margin-top: 60px;
        width: 80%;
    }
}

#temp{
margin: 10px}

.btn-outline-primary {
    border: 3px solid white;
    background: none;
    border-radius: 20px;
}

body {
    background-color: #26C281;
    ;
}

footer,
footer a {
    color: white;
}

.wrapper {
    border: solid white 4px;
    border-radius: 20px;
    padding-bottom: 20px;
}

.btn-outline-primary,
.btn-outline-primary:hover {
  color:white;
}